.project_main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  
    .project_mask, .project_body {
      width: 100%;
      height: 100%;
      cursor: default;
      
      h1 {
        padding: 40px;
        justify-self: start;
        text-align: center; /* Center align text */
      }

    }
  
  }
  .project_mask {
    mask-image: url('/cursor.svg'); /* Removed /public */
    mask-repeat: no-repeat;
    mask-size: 40px;
    background:#eb16eb;
    position: absolute;
    color: #000;
    z-index: 1;
     span {
      font-weight: 600;
      color: whitesmoke;
    }
  }


  .project_item_border {
    border-style: solid;
    border-image: linear-gradient(to right, black, #5ef13d, black) 1;
  }
  .popup-message {
    z-index: 1000; /* Make sure it's above other elements */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  