@tailwind base;
@tailwind components;
@tailwind utilities;

.porsche {
  font-family: var(--font-porsche-bold);
  font-weight: 700;
}

.calcio {
  font-family: var(--font-calcio-demo);
  font-weight: 400;
}

.urbanshock {
  font-family: var(--font-urbanshock-bold);
  font-weight: 700;
}


